@media (max-width: 767px){
    .center{
        padding-left: calc(50% - 260px);
        padding-right: calc(50% - 260px);}
    .mobile-menu{
        width: 100%;
        right: -100%;}
        .mobile-menu__link-site{
            display: flex;}
    
            .header__checkbox:checked ~ .mobile-menu{
            right: 0;}
            .header__link-site{
            display: none;}
    
            .promo__img{
            display: none;}
            .promo__content{
            min-height: 363px;
            padding-left: 0;
            width: 100%;
            justify-content: center;}
            .promo__title{
            font-size: 38px;
            line-height: 46px;}
            .promo__heading{
            font-size: 20px;
            line-height: 24px;}

    .sale{
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;}
        .sale__item img{
            width: 100%;}
            .sale__item_big{
                min-height: 111px;
                background-image: url(img/sibig.jpg);
                background-size: cover;
                background-position: center;}
                

    .product-box__content{
            grid-template-columns: repeat(1, 1fr);}

    .product__add{
            top: 30%;
            left: 33%;}


            .footer_subscribe{
        flex-direction: column;
        gap: 58px;
        padding-top: 54px;
        padding-bottom: 109px;}

        .footer__caption{
            font-weight: 400;
font-size: 18px;
line-height: 22px;
        }
        
.footer__bottom{
            min-height: 144px;
            display: flex;
            flex-direction: column-reverse;
            gap: 24px;
            padding-top: 42px;
            padding-bottom: 24px;
            box-sizing: border-box;
        }
        
            .footer_input_header {
                font-weight: 700;
                font-size: 24px;
                line-height: 37px;
                text-align: center;
              }
              
              .footer_input_header_mini {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                margin-bottom: 32px;
            }       
        

.head{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}
.header__left{
    margin-left: 0px;
  }
  .header__right{
    margin-right: 0px;
  }   
  .filter-box{
      width: px;
  }    
  .filter{
    width: 220px;
  }  
  .sammary_header{
      display: none;
  }
  .filter__img{
      display: none;
  }
  .filter-img-big{
      display: flex;
  }    
   .sort__summary {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
   }  
   .product_description-content{
       max-width: 100%;
   } 
   .product_description__info{
       margin-bottom: 48px;
   }   
   .product_description__info-text{
       width: 77%;
   }  
   .gray-line{
    width: 144px;
    margin-top: 32px;
  }
  .sort__summary{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }


.registration_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.registration__form{
    width: 360px;
}
.perks{
    width: 360px;
}
.radio-sex:last-child{display: flex;}
.perks__header{
    padding-top: 0px;
}

.imptext {
    width: 246px;}
.filter-box{
    width: 124px;
}
.filter{
    padding: 13px 0px 16px;
    width: 124px;
}  
.sort{
    padding-right: 0px;
    gap: 24px;
} 
.sort__details:first-child{
    width: 120px;
}

.sort__summary {
    font-weight: 400;
font-size: 12px;
line-height: 14px;

}
.slider{
    padding-top: 8%;
    padding-bottom: 8%;
}

.decription_card{
    padding-left: 0;
    padding-right: 0;
}
.slider-box{
    position: relative;
}
.slider-nav:first-child{
    position: absolute;
    left: 0;
}
.slider-nav:last-child{
    position: absolute;
    right: 0;
}

.product-in_cart {
    width: 100%;
    margin-bottom: 32px;
}
.product-in_cart-img{
    width: 40%;
}

.product-in_cart-content {
    width: 60%;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 12px;
    gap:16%}

.product-in_cart-content_main{
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
.cart_content{
    margin-top: 40px;
gap: 48px;
margin-bottom: 96px;}
.cart-content_top-header{
    width: 65%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    }
    .cart-content-li{
        padding-top: 4px;
    }
    .close-cross{ 
    transform: scale(0.6);}
    .quantity{
        width: 24px;
        height: 16px;
        font-weight: 400;
font-size: 10px;
line-height: 12px;
padding-left: 8px;
    }
.cart__button-edit{
    justify-content: space-between;
    margin-top: 0px; 
      
}
.button-edit{
    width: 176px;
    height: 34px;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #575757;
}
.cart__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media (max-width: 525px){
    .center{
        padding-left: 16px;
        padding-right: 16px;}

        .decription_card{
            padding-left: 0;
            padding-right: 0;
        }
    .product-in_cart-content{
        gap:8%;
    }    
    .cart-content_top-header{
        width: 70%;
    }  
}